<p>
  contact-information works!
</p>

<form #form="ngForm" (ngSubmit) = 'submitForm(form)' >
   <h2 class="form-section-title">{{fromTitle}}</h2>
        
    <div class="row">
      <div class="col-7">
        <label class="form-label">Email</label>
        <input name="email" type="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" [(ngModel)] = 'userdata.email' #e = ngModel required />
          <div *ngIf = '!e.valid' style="color: red">You enter Invalid Email Address</div>  
      </div>
    </div>
        
    <div class="row">
      <div class="col-9">
        <label class="form-label">Street Address</label>
        <input name="address" type="text" placeholder="Address" [(ngModel)] = 'userdata.address'/>
      </div>
    </div>
          
    <div class="row">
      <div class="col-4">
        <input name="city" type="text" placeholder="City" />
      </div>
      <div class="col-4">
        <input name="state" type="text" placeholder="State" />
      </div>
      <div class="col-4">
        <input name="zipcode" type="text" placeholder="Zip Code" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <label class="form-label">Mobile Phone</label>
        <input name="mobile-phone" type="text" [(ngModel)] = 'userdata.mobileNo' required />
      </div>
    </div>
   
</form>
