.divtag{
    width: 100%;
    background-color: cornflowerblue;    
}
.divtag div{
    display: inline-block;
}
.divtag div:last-child{
    vertical-align: top;
    margin-top: 32px;
    margin-left: 20px;
    font-family: fantasy;
    font-display: block;
}
.formone{
     margin-top: 32px;
}
h1 {
	font-size: 30px;
}
p {
	color: dodgerblue;
	margin-left: 0px;
	font-size: 30px;
}
.change {
     color: red;
}