<!--The content below is only a placeholder and can be replaced.-->

<div class="divtag">
   	<img src="http://davbarara.co.in/ProfileImages/266f7b53-fb10-4f90-93ec-5ae2333dc138_metricschool.jpg" width="80" height="80" 			class="d-inline-block align-top" alt="">
    <div>
	 <h1>{{title}}</h1>
      <a [routerLink] = "['/login']">Login</a>
      <a [routerLink] = "['/registration']">Registration</a>
    </div>
  </div>
<!--<nav class="navbar navbar-light bg-light" style="background-color: cornflowerblue">
  <a class="navbar-brand" href="#">
    <img src="http://davbarara.co.in/ProfileImages/266f7b53-fb10-4f90-93ec-5ae2333dc138_metricschool.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
    <a >{{title}}</a>
  </a>
</nav>-->
	<router-outlet></router-outlet>
 <form-wizard>
  <wizard-step [title]="'Personal Details'">
    <p>{{message}}</p>
    <app-Personal-Information (messageEvent) = "receiveMessage($event)">Waiting......</app-Personal-Information>
  </wizard-step>
  <wizard-step [title]="'Contact Details'">
    <p>Contact Information</p>
     <app-contact-information (messageEvent) = "receiveMessage($event)">Loading...............</app-contact-information>  
  </wizard-step>
  <wizard-step [title]="'Education Details'">
    <p>Education Information</p>
  </wizard-step>
  <wizard-step [title]="'Work Profile'" (onComplete)="onComplete($event)">
    <div [ngSwitch]="isCompleted">
      <div *ngSwitchDefault>
        <p>Work Profile</p>
      </div>
      <div *ngSwitchCase="true">
        <h4>Thank you! You have completed all the steps.</h4>
      </div>
    </div>
  </wizard-step>
</form-wizard>

