
<form #form="ngForm" (ngSubmit) = 'submitForm(form)' >
  <!-- <h2 class="form-section-title">{{fromTitle}}</h2>-->
    <div class="row">
      <div class="col-4">
        <label class="form-label">First Name</label>
        <input name="first-name" id="first-name" type="text" [(ngModel)] = 'userdata.fname' placeholder = 'FistName' required />
      </div>
      <div class="col-4">
        <label class="form-label">Last Name</label>
        <input name="last-name" type="text" [(ngModel)] = 'userdata.lname' required />
      </div>
    </div>
        
    <div class="row">
      <div class="col-7">
        <label class="form-label">Marital Status</label>
         <div class = 'col-4'><input type="radio" [(ngModel)] = 'userdata.maritalstatus' name="maritalstatus" value="Maried">Maried</div>
         <div class = 'col-4'><input type="radio" [(ngModel)] = 'userdata.maritalstatus' name="maritalstatus"Value="Unmaried">Unmaried</div>
      </div>
    </div>
        
    <div class="row">
        <div class="col-9">
            <label class="form-label">Gender</label>
          <!--<div *ngFor = "let g of gender"><label><input type="radio" [(ngModel)] = 'userdata.gender' name = "Gender" value = />{{g}}</label></div>-->
            <div class = 'col-4'><input type="radio" [(ngModel)] = 'userdata.gender'  name="sex" value="male">Male</div>
            <div class = 'col-4'><input type="radio" [(ngModel)] = 'userdata.gender'  name="sex" value="female">Female</div>
        </div>
    </div>
     
    <div class="row">
      <div class="col-3">
        <label class="form-label">Blood Group</label>
        <input type="text" maxlength="3" name='blood group' [(ngModel)] = 'userdata.bloodgroup' #bg = ngModel required pattern="([AaBbOo]|[Aa][Bb])[\+-]" />
		  <div *ngIf = "!bg?.valid &&  bg.touched" class="alert alert-danger" role="alert" style="color: red">Please Enter Valid Blood Group</div>  
	  </div>
    </div>
   
    <div class="row">
     <div class="col-3">
        <label class="form-label">Date of Birth</label>
        <input name="date-of-birth" type="date" [(ngModel)] = 'userdata.dob' required/>
      </div>
    </div>
  <input  class="btn btn-primary" type="submit" value="Save"  />

</form>
